.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  row-gap: 4rem;
  padding: 4rem 0;
}

.example-card {
  width: 55rem;
}

mat-card-actions {
  display: flex;
  justify-content: space-around;
}

mat-card-content span {
  color: rgb(7, 56, 163);
  font-weight: 500;
}

.comment-container {
  border-top: 0.5px solid rgb(204, 204, 204);
}
.no-comment {
  padding: 1rem 2rem;
}

@media screen and (max-width: 600px) {
  .example-card {
    width: 40rem;
  }
}
